.editor-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.editor-container p {
    margin: 1em 0 !important;
}

.editor {
    width: 80%;
    height: 100%;
    touch-action: none;
}